*{
    font-family: 'Roboto';
    font-weight: 300;
}

/* The side navigation menu */
.sidenav {
    float: left;
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.img-thumbnail{
  max-width: 70px !important;
}

.sidebar-menu-item{
    border-bottom: 1px solid white;
    text-decoration: none;
}
.sidebar-menu-item.current{
    background-color: #2F4F4F;
    color:white;
}
.sidebar-menu-item:hover{
    background-color: #2F4F4F;
    text-decoration: none;
}

.main{
    float: left;
    text-align: center;
    padding-left: 200px;
    height: 100%;
    width: 100%;
    background-color: #eaeaea;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.devise-container{
    padding-right: 10px;
    width: 100%;
    background-color: #eaeaea;
    text-align: right;
    height: 25px;
}

.stat-card{
    background-color: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.circle {
    background-color: lightblue;
    border-radius: 50%;
    padding-top: 40px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.stat-description-title{
    margin: 20px;
    color: grey;
}

.items-table{
    width: 100%;
    height: 100%;
}


.item-img-container{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.item-img-container img{
    width: 100%;
    height: 100%;
}

.item-cell{
    border: 1px solid black;
    width: 100px;
    height: 200px;
}
.item-cell img{
    width: 100%;
    height: 100%;
}
.item-row{
    height: 100px;
}

.item-table-headings{
    text-align: center;
}

.item-form{
    text-align: left;
    margin: 10px;
    height: 100%;
}

.field{
    margin: 10px;
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #d3d3d3;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
}
#page{
  text-align: center;
}
#game-container{
  display: inline-block;
}
#leaderboard-container{
  height: 750px;
  width: 1250px;
  padding-top:50px;
  background-image: url('https://s3.ca-central-1.amazonaws.com/sorting-items/static-assets/BackgroundImage.png');
}

.test{
  background-color: #ccc;
}
.green-button{
  background-color: #80c342;
  height: 40px;
  width: 196px;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0px 10px 4px 0px rgba(76,166,71,1);
}
.blue-button{
  padding-top: 55px;
  background-color: #30abda;
  height: 100px;
  width: 100px;
  font-size: 25px;
  text-align: center;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0px 10px 4px 0px gray;
}

.form-fields{
  text-align: center;
}

.leaderboard-image-container{
  width: 100px;
  height: 50px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

