
<h1> UBC Sustainablity - Sorting Game </h1>
<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<section class="main">
  <div class="col-xs-6">
    <h2 style="font-family:lato; text-align: left;">Overview</h2>
    <ul class="objectives-list">
      <li>Full list of features: <a href="https://drive.google.com/file/d/0B1g9mJ_KZLjxeUlxdUZyVkQyY0U/view?usp=sharing" target="_blank"> Sustainablity User Stories</a></li>
      <li>Wireframe Link:<a href="https://projects.invisionapp.com/share/HF9XE30QG#/screens" target="_blank"> Invision Wireframe</a></li>
    </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <h2 style="font-family:lato; text-align: left;">Annoucements/Updates</h2>
    <ul>
      <li> Work has started! </li>
      <li> Sprint 1 outlines the current objectives, the status will be updated in realtime. </li>
      <li> Basic logic and views have been scaffolded. </li>
      <li> Graphic design is underway - new assets are being created. </li>
      <li> Scores and levels are being worked on.</li>
    </ul>
    </div>
  </div>
</section>
<section class="current-sprint">
  <h2 style="font-family:lato;">Sprint 2: Feb 19 - March 13</h2>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>User Story</th>
          <th>Description</th>
          <th>Feature Set</th>
          <th>Status</th>
          <th>Needs Client Attention?</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>Users can recieve scores for the items they get correct.</td>
          <td>Create a scoring system.</td>
          <td>Scoring</td>
          <td class="progress-yes">In-progress</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Users can play multiple levels and items are sorted by level</td>
          <td>Create a level system and sort items by level. </td>
          <td>Gameplay</td>
          <td class="progress-yes">In-progress</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Users are contrained to time limits on each item which effects their score.</td>
          <td>Create a game timer and associate it with points earned. </td>
          <td>Gameplay</td>
          <td class="progress-yes">In-progress</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Users can review their scores upon level completion</td>
          <td>Create a review summary with all stats.</td>
          <td>Review Screen</td>
          <td class="progress-no">To do</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="old-sprint">
  <!--for demo wrap-->
  <h2 style="font-family:lato;">Sprint 1: Feb 1 - 18</h2>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>User Story</th>
          <th>Description</th>
          <th>Feature Set</th>
          <th>Status</th>
          <th>Needs Client Attention?</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>Set-up initial configuration on heroku</td>
          <td>Deployed to this domain. Set up with Postgresql.</td>
          <td>Set-up</td>
          <td class="completed-yes">Completed</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Set-up front-end with Phaser.io</td>
          <td>Get started with phaser.io to set upa client and middleware</td>
          <td>Set-up</td>
          <td class="completed-yes">Completed</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Implement intial database</td>
          <td>Use the database diagram to set up intial contents</td>
          <td>Set-up</td>
          <td class="completed-yes">Completed</td>
          <td>yes</td>
        </tr>
        <tr>
          <td>Create starting front-page UI</td>
          <td>Create basic layout from wireframes and have simple interactions</td>
          <td>Start Screen</td>
          <td class="completed-yes">Completed</td>
          <td>yes</td>
        </tr>
        <tr>
          <td>Work with basic animations to implemnet drag and drop.</td>
          <td>Learn how the physics engine works and utilize it to drag and drop.</td>
          <td>Set-up</td>
          <td class="completed-yes">Completed</td>
          <td>yes</td>
        </tr>
        <tr>
          <td>Set-up user login and base of the admin panel</td>
          <td>Use basic autehntication so admins are able to log in.</td>
          <td>Admin Panel - Editor</td>
          <td class="completed-yes">Completed</td>
          <td>yes</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<!-- follow me template -->
<div class="made-with-love">
  Being constructed by: 
  <a target="_blank" href="http://tangentcollective.com">Tangent Collective</a>
</div>